<div class="row">
	<div class="large-12 columns">
		<h1>Blog <small>and funny cat pictures</small></h1>
		<hr>
  	<div class="row">
 
    	<!-- Main Content -->
    	<div class="large-9 columns" role="content">
    		
    		<article>
        	<h3><a href="#">Today we launched the project</a></h3>
        	<h6>Written by <a href="https://github.com/JGallardo">Juan Gallardo</a> on November 22, 2013.</h6>

        	<p>The site is going up with the intent of providing resources. A lot is planned but it will be incremental. Everyone is welcome to contribute to the <a href="https://github.com/JGallardo/ocrails">Project on GitHub</a>.</p>
				</article>

    	</div>
    	<!-- End Main Content -->

			<%= render 'layouts/aside' %>
  	</div>
	</div> <!-- end of large-12 -->
</div> <!-- end of row -->