<div class="row">
	<div class="large-12 columns">
		<h1>About <small>who we are</small></h1>
		<hr>
  	<div class="row">
 
    	<!-- Main Content -->
    	<div class="large-9 columns" role="content">

    		<article>
        	<h3><a href="#">Global Reach</a></h3>
        	<h6>Written by <a href="https://github.com/JGallardo">Juan Gallardo</a> on November 22, 2013.</h6>

        	<p>The focus of group has shifted to a global audience upon Juan Gallardo becoming an admin for the <a href="https://www.facebook.com/groups/rubyandrails/">Ruby on Rails</a> group on Faceboook. But will continue to host local meetups. </p>
				</article>
				<hr>
    		
    		<article>
        	<h3><a href="#">About OC Rails</a></h3>
        	<h6>Written by <a href="https://github.com/JGallardo">Juan Gallardo</a> on November 22, 2013.</h6>
 
        	<p>OC Rails is a meetup for Rails developers in <a href="http://en.wikipedia.org/wiki/Orange_County,_California">Orange County, California</a>. It was orignally managed by Twitter product Security engineer <a href="https://twitter.com/ndm">Neil Matatall</a>. The group intended to merge with another local rails group. But <a href="https://twitter.com/JGallardo2600">Juan Gallardo</a> suggested to make it a rails study group.</p>

        	<p>The focus shifted to a global audience upon Juan Gallardo becoming an admin for the <a href="https://www.facebook.com/groups/rubyandrails/">Ruby on Rails</a> group on Faceboook. But will continue to host local meetups. </p>

				</article>

    	</div>
    	<!-- End Main Content -->

			<%= render 'layouts/aside' %>
  	</div>
	</div> <!-- end of large-12 -->
</div> <!-- end of row -->