<div class="row">
	<div class="large-12 columns">
		<h1>Contact Us <small>we are friendly :)</small></h1>
    <hr>
  	<div class="row">
 
    	<div class="large-9 columns" role="content">
        

    	</div>
 
      <%= render 'layouts/aside' %>
  	</div>
	</div> <!-- end of large-12 -->
</div> <!-- end of row -->