<div class="row">
	<div class="large-12 columns">
		<h1>FAQ <small>Frequently Asked Questions</small></h1>
    <hr>
  	<div class="row">
 
    	<!-- Main Content -->
    	<div class="large-9 columns" role="content">

        <article>
          <h3><a href="#">Where to host Rails applications?</a></h3>
          <h6>Written by <a href="https://github.com/JGallardo">Juan Gallardo</a> on November 22, 2013.</h6>
 
          <p>There are many great hosts out there. Below are a few that I have sucess with or know of others that use it. This is not an endorsement of any. Do your own research as your situation may warrant a different provider.</p>

          <ul>
            <li><strong>Heroku - </strong><a href="http://www.heroku.com">www.heroku.com</a></li>
            <li><strong>Digital Ocean - </strong><a href="http://www.digitalocean.com/">www.digitalocean.com</a></li>
          </ul>
        </article><hr>

        <article>
          <h3><a href="#">Where to learn rails online?</a></h3>
          <h6>Written by <a href="https://github.com/JGallardo">Juan Gallardo</a> on November 22, 2013.</h6>
 
          <p>Below are links to courses that many have enjoyed</p>

          <ul>
            <li><strong>Code Academy - </strong><a href="http://www.heroku.com">www.codeacademy.com</a></li>
            <li><strong>Code School - </strong><a href="http://www.codeschool.com/">www.codeschool.com</a></li>
            <li><strong>RailsCasts - </strong><a href="http://railscasts.com/">railscasts.com</a></li>
          </ul>

          <p>Related links:</p>
          <ul>
            <li><strong>How does Codecademy compare to Code School?</strong><br>
              <a href="http://www.quora.com/Learning-to-Program/How-does-Codecademy-compare-to-Code-School">http://www.quora.com/Learning-to-Program/How-does-Codecademy-compare-to-Code-School</a></li>
            <li><strong>5 Ways To Learn Code From The Comfort Of Your Own Browser </strong><br>
              <a href="http://techcrunch.com/2012/08/21/5-ways-to-learn-code-from-the-comfort-of-your-own-browser/">http://techcrunch.com/2012/08/21/5-ways-to-learn-code-from-the-comfort-of-your-own-browser</a></li>
          </ul>
        </article><hr>

        <article>
          <h3><a href="#">How to Learn Ruby online?</a></h3>
          <h6>Written by <a href="https://github.com/JGallardo">Juan Gallardo</a> on November 22, 2013.</h6>
 
          <p>These are the most popular.</p>

          <ul>
            <li><strong>Ruby in Twenty Minutes - </strong><a href="https://www.ruby-lang.org/en/documentation/quickstart/">www.ruby-lang.org/en/documentation/quickstart/</a></li>
            <li><strong>Try Ruby - </strong><a href="http://tryruby.org/levels/1/challenges/0">tryruby.org/levels/1/challenges/0</a></li>
            <li><strong>Code School - </strong><a href="https://www.codeschool.com/paths/ruby">www.codeschool.com/paths/ruby</a></li>
            <li><strong>Code Academy - </strong><a href="http://www.codecademy.com/tracks/ruby">www.codecademy.com/tracks/ruby</a></li>
          </ul>
        </article><hr>

        <article>
          <h3><a href="#">What Text Editor should I use for Rails?</a></h3>
          <h6>Written by <a href="https://github.com/JGallardo">Juan Gallardo</a> on November 22, 2013.</h6>
 
          <p>You can use most editors, however some have certain advantages over the other. I personally use <a href="www.sublimetext.com">Sublime</a> because of the added functionality and interface that is very easy on the eyes.</p>
        </article>


    	</div>
    	<!-- End Main Content -->

			<%= render 'layouts/aside' %>
  	</div>
	</div> <!-- end of large-12 -->
</div> <!-- end of row -->