<aside class="large-3 columns">
  <h5>Info Pages</h5>
  <ul class="side-nav">
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
 
  <div class="panel">
    <h5>Featured</h5>
    <p>Website analytics for Rails applications. Google Analytics and alternatives. How to install Google Analytics with Rails 4.0 Turbolinks. Event tracking and more with Segment.io, Mixpanel, KISSmetrics and others.</p>
    <a href="http://railsapps.github.io/rails-google-analytics.html">Read More →</a>
  </div>
</aside>