<div id="footer">
  <div class="row">
    <div class="large-12 columns"><hr />
      <div class="row">
 
        <div class="large-6 columns">
          <p>&copy; everyone because MIT license.</p>
        </div>
 
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/contact">Contact</a></li>
            <li><a href="https://github.com/JGallardo/ocrails">Project on GitHub</a></li>
          </ul>
        </div>
 
      </div>
    </div>
  </div>
</div>